.intro-header.big-img .page-heading h1 {
  font-family: "Architects Daughter";
  font-weight: 400;
  font-size: 80px;
  padding: 0px 0;
  color: #970C10;
  text-shadow: 5px 5px 3px #FFF;
}

.intro-header.big-img .homepage-subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 24px;
  padding: 0px 0;
  color: rgb(64, 64, 64);
  text-shadow: 5px 5px 3px #FFF;
}

@media only screen and (min-width: 768px) {
  .intro-header.big-img .page-heading h1 {
    font-size: 150px;
  }
}
